@charset "utf-8";

* {
    margin: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
}

header > p {
    padding-bottom: 50px;
}